body{
    background-color: #E6E6FA;
}

:root {
    --fontColor: #191970;/*Declarar variable*/
    --goldenColor: #FFD700;
    --blackColor: #000000;
    --whiteColor: #ffffff;
}

h1 {
    color: var(--goldenColor);/*Usar la variable*/
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    margin-top: 0px;
    /* background-color: white; */
}

h2 {
    color: var(--goldenColor)
}

p, h3 {
    color: var(--whiteColor);/*Color de la fuente*/
    font-family: 'Cabin', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

ul {
    font-family: 'Cabin', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

/*DIV general que tiene todos los demas divs*/
.container img {
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 0px;
    width: 270px;
    height: 270px;
    border: 3px double var(--blackColor);
}

.container {
    position: absolute;
    margin-top: 10px;
    word-wrap:break-word;/*Para que el texto se adapte al div*/
    float: left;
    border-radius: 10px;
}

/*Para el DIV de los datos personales*/
.personal-data {
    background-color: var(--blackColor);
    /* margin: 10px auto 10px; */
    position: inherit;
    border-radius: inherit;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    height:auto;
    width: 250px;
    margin-left: 10px;
    border: 3px double var(--goldenColor);
}

/*Para el DIV del nombre y la carrera que estan hasta arriba*/
.name {
    background-color: var(--blackColor);
    margin: 10px auto 10px;
    border-radius: 10px;
    position: absolute;/*Establece la posicion de manera absluta*/
    margin-left: 300px;
    text-align: center;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px double var(--goldenColor);
}
.name h1{
    background-color: inherit;
    text-align: inherit;
    font-size: 50px;
    margin-top: -10px;
    margin-bottom: 0px;
}
.name h3{
    text-align: inherit;
    font-size: 25px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 0px;
}